In [1]:
import pandas as pd
import numpy as np
import spacy

In [2]:
nlp = spacy.load("en_core_web_lg")

In [3]:
bk_biz = pd.read_csv('./bk_biz_and_rev.csv') #change location since notebook moved

In [4]:
bk_biz.head(3)

,name,alias,id,review_count,rating,url,location,coordinates,reviews
0,Forno Rosso,forno-rosso-brooklyn,ZTsN8TdMXl8SW_AKd_ablw,681,4.0,https://www.yelp.com/biz/forno-rosso-brooklyn?...,"{'city': 'Brooklyn', 'postal_code': '11201'}","{'latitude': 40.694467, 'longitude': -73.98293}",SQUID INK TAGLIOLINI WITH SHRIMP IN BRANDY SAU...
1,Two 8 Two Bar & Burger,two-8-two-bar-and-burger-brooklyn,xiEBdZ8z5KY21Vw2pY2fJQ,662,4.0,https://www.yelp.com/biz/two-8-two-bar-and-bur...,"{'city': 'Brooklyn', 'postal_code': '11201'}","{'latitude': 40.688536, 'longitude': -73.989728}",Walking around Brookly around lunchtime is a g...
2,The River Café,the-river-café-brooklyn-3,4XX-zF8h5Lvrr22_tqU6-Q,1132,4.0,https://www.yelp.com/biz/the-river-caf%C3%A9-b...,"{'city': 'Brooklyn', 'postal_code': '11201'}","{'latitude': 40.70318, 'longitude': -73.9946499}",The perfect ambience with beautiful classical ...

In [5]:
def has_dart(review):
    counter = 0
    doc = nlp(review)
    for word in doc:
        if word.lower_ in ["dart"]:
            counter += 1
    return counter

In [6]:
bk_biz['score'] = bk_biz['reviews'].apply(has_dart)

In [7]:
bk_biz

,name,alias,id,review_count,rating,url,location,coordinates,reviews,score
0,Forno Rosso,forno-rosso-brooklyn,ZTsN8TdMXl8SW_AKd_ablw,681,4.0,https://www.yelp.com/biz/forno-rosso-brooklyn?...,"{'city': 'Brooklyn', 'postal_code': '11201'}","{'latitude': 40.694467, 'longitude': -73.98293}",SQUID INK TAGLIOLINI WITH SHRIMP IN BRANDY SAU...,0
1,Two 8 Two Bar & Burger,two-8-two-bar-and-burger-brooklyn,xiEBdZ8z5KY21Vw2pY2fJQ,662,4.0,https://www.yelp.com/biz/two-8-two-bar-and-bur...,"{'city': 'Brooklyn', 'postal_code': '11201'}","{'latitude': 40.688536, 'longitude': -73.989728}",Walking around Brookly around lunchtime is a g...,0
2,The River Café,the-river-café-brooklyn-3,4XX-zF8h5Lvrr22_tqU6-Q,1132,4.0,https://www.yelp.com/biz/the-river-caf%C3%A9-b...,"{'city': 'Brooklyn', 'postal_code': '11201'}","{'latitude': 40.70318, 'longitude': -73.9946499}",The perfect ambience with beautiful classical ...,0
3,Colonie,colonie-brooklyn,wouDDTacUIBaRp8YGCFTsA,580,4.0,https://www.yelp.com/biz/colonie-brooklyn?adju...,"{'city': 'Brooklyn', 'postal_code': '11201'}","{'latitude': 40.6909, 'longitude': -73.9958}",I have passed by this restaurant at least 100t...,0
4,Chez Moi,chez-moi-brooklyn,EF4M55USa1ZNy1rP5Kuk2w,380,4.0,https://www.yelp.com/biz/chez-moi-brooklyn?adj...,"{'city': 'Brooklyn', 'postal_code': '11201'}","{'latitude': 40.6907305802403, 'longitude': -7...",Wow. I ordered a few things for pickup and was...,0
...,...,...,...,...,...,...,...,...,...,...
75,Union Hall,union-hall-brooklyn,noujMiOizbAWyDw8LbiM8Q,644,4.0,https://www.yelp.com/biz/union-hall-brooklyn?a...,"{'city': 'Brooklyn', 'postal_code': '11215'}","{'latitude': 40.67612, 'longitude': -73.98005}",What a fantastic place ! Vibe was right. Music...,0
76,White Horse Tavern - Financial District,white-horse-tavern-financial-district-new-york,lHGQM__w1x5Dxiq3aRPCTQ,372,4.0,https://www.yelp.com/biz/white-horse-tavern-fi...,"{'city': 'New York', 'postal_code': '10004'}","{'latitude': 40.70372, 'longitude': -74.01237}",3 floors. Good crowd. All ages. Fantastic happ...,1
77,Zablozki's,zablozkis-brooklyn-2,yaD4coYkCLtq6sn3692CRw,149,4.0,https://www.yelp.com/biz/zablozkis-brooklyn-2?...,"{'city': 'Brooklyn', 'postal_code': '11211'}","{'latitude': 40.7183462871818, 'longitude': -7...",\nShare review\n\nEmbed review\n\nCompliment\n...,2
78,The Diamond,the-diamond-brooklyn,WKxcpJ7bmh25PtA_rMpkBg,110,4.0,https://www.yelp.com/biz/the-diamond-brooklyn?...,"{'city': 'Brooklyn', 'postal_code': '11222'}","{'latitude': 40.726753, 'longitude': -73.957511}",\nShare review\n\nEmbed review\n\nCompliment\n...,0
79,Tommy's Tavern,tommys-tavern-brooklyn,BXQi7hBc2iUK60iq_eHnKg,33,2.0,https://www.yelp.com/biz/tommys-tavern-brookly...,"{'city': 'Brooklyn', 'postal_code': '11222'}","{'latitude': 40.73431, 'longitude': -73.955215}",My fingers can't move quick enough to express ...,1

In [8]:
bk_biz.loc[bk_biz['score']>0]

,name,alias,id,review_count,rating,url,location,coordinates,reviews,score
27,"Floyd, NY",floyd-ny-brooklyn-2,YL1LxYufuwX5sq4RwW-2Gw,210,4.0,https://www.yelp.com/biz/floyd-ny-brooklyn-2?a...,"{'city': 'Brooklyn', 'postal_code': '11201'}","{'latitude': 40.6907799, 'longitude': -73.9957}",I'm basically just rating this place as a reac...,1
69,The Brazen Head,the-brazen-head-brooklyn,QiKtEJ6CFA3nSPRIRsq5Ew,126,3.5,https://www.yelp.com/biz/the-brazen-head-brook...,"{'city': 'Brooklyn', 'postal_code': '11201'}","{'latitude': 40.689235, 'longitude': -73.991653}",\nShare review\n\nEmbed review\n\nCompliment\n...,5
76,White Horse Tavern - Financial District,white-horse-tavern-financial-district-new-york,lHGQM__w1x5Dxiq3aRPCTQ,372,4.0,https://www.yelp.com/biz/white-horse-tavern-fi...,"{'city': 'New York', 'postal_code': '10004'}","{'latitude': 40.70372, 'longitude': -74.01237}",3 floors. Good crowd. All ages. Fantastic happ...,1
77,Zablozki's,zablozkis-brooklyn-2,yaD4coYkCLtq6sn3692CRw,149,4.0,https://www.yelp.com/biz/zablozkis-brooklyn-2?...,"{'city': 'Brooklyn', 'postal_code': '11211'}","{'latitude': 40.7183462871818, 'longitude': -7...",\nShare review\n\nEmbed review\n\nCompliment\n...,2
79,Tommy's Tavern,tommys-tavern-brooklyn,BXQi7hBc2iUK60iq_eHnKg,33,2.0,https://www.yelp.com/biz/tommys-tavern-brookly...,"{'city': 'Brooklyn', 'postal_code': '11222'}","{'latitude': 40.73431, 'longitude': -73.955215}",My fingers can't move quick enough to express ...,1