### Obtaining and Organinzing zip codes

In [1]:
import pandas as pd

In [10]:
zip_table = pd.read_html('https://www.health.ny.gov/statistics/cancer/registry/appendix/neighborhoods.htm')

In [11]:
zips = pd.DataFrame(zip_table[0])
zips.head()

  Borough                Neighborhood                   ZIP Codes
0   Bronx               Central Bronx         10453, 10457, 10460
1   Bronx      Bronx Park and Fordham         10458, 10467, 10468
2   Bronx  High Bridge and Morrisania         10451, 10452, 10456
3   Bronx  Hunts Point and Mott Haven  10454, 10455, 10459, 10474
4   Bronx   Kingsbridge and Riverdale                10463, 10471

In [12]:
zips.columns

Index(['Borough', 'Neighborhood', 'ZIP Codes'], dtype='object')

In [14]:
zips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Borough       42 non-null     object
 1   Neighborhood  42 non-null     object
 2   ZIP Codes     42 non-null     object
dtypes: object(3)
memory usage: 1.1+ KB

In [19]:
queens_table = zips[zips['Borough'] == 'Queens']
queens_table

,Borough,Neighborhood,ZIP Codes
28,Queens,Northeast Queens,"11361, 11362, 11363, 11364"
29,Queens,North Queens,"11354, 11355, 11356, 11357, 11358, 11359, 11360"
30,Queens,Central Queens,"11365, 11366, 11367"
31,Queens,Jamaica,"11412, 11423, 11432, 11433, 11434, 11435, 11436"
32,Queens,Northwest Queens,"11101, 11102, 11103, 11104, 11105, 11106"
33,Queens,West Central Queens,"11374, 11375, 11379, 11385"
34,Queens,Rockaways,"11691, 11692, 11693, 11694, 11695, 11697"
35,Queens,Southeast Queens,"11004, 11005, 11411, 11413, 11422, 11426, 1142..."
36,Queens,Southwest Queens,"11414, 11415, 11416, 11417, 11418, 11419, 1142..."
37,Queens,West Queens,"11368, 11369, 11370, 11372, 11373, 11377, 11378"

In [22]:
queens_table.columns

Index(['Borough', 'Neighborhood', 'ZIP Codes'], dtype='object')

In [26]:
queens_zips = [i.split(',') for i in queens_table['ZIP Codes']]
queens_zips

[['11361', ' 11362', ' 11363', ' 11364'],
 ['11354', ' 11355', ' 11356', ' 11357', ' 11358', ' 11359', ' 11360'],
 ['11365', ' 11366', ' 11367'],
 ['11412', ' 11423', ' 11432', ' 11433', ' 11434', ' 11435', ' 11436'],
 ['11101', ' 11102', ' 11103', ' 11104', ' 11105', ' 11106'],
 ['11374', ' 11375', ' 11379', ' 11385'],
 ['11691', ' 11692', ' 11693', ' 11694', ' 11695', ' 11697'],
 ['11004',
  ' 11005',
  ' 11411',
  ' 11413',
  ' 11422',
  ' 11426',
  ' 11427',
  ' 11428',
  ' 11429'],
 ['11414',
  ' 11415',
  ' 11416',
  ' 11417',
  ' 11418',
  ' 11419',
  ' 11420',
  ' 11421'],
 ['11368', ' 11369', ' 11370', ' 11372', ' 11373', ' 11377', ' 11378']]

In [28]:
queens = []
for j in queens_zips:
    for k in j:
        queens.append(k)
queens

['11361',
 ' 11362',
 ' 11363',
 ' 11364',
 '11354',
 ' 11355',
 ' 11356',
 ' 11357',
 ' 11358',
 ' 11359',
 ' 11360',
 '11365',
 ' 11366',
 ' 11367',
 '11412',
 ' 11423',
 ' 11432',
 ' 11433',
 ' 11434',
 ' 11435',
 ' 11436',
 '11101',
 ' 11102',
 ' 11103',
 ' 11104',
 ' 11105',
 ' 11106',
 '11374',
 ' 11375',
 ' 11379',
 ' 11385',
 '11691',
 ' 11692',
 ' 11693',
 ' 11694',
 ' 11695',
 ' 11697',
 '11004',
 ' 11005',
 ' 11411',
 ' 11413',
 ' 11422',
 ' 11426',
 ' 11427',
 ' 11428',
 ' 11429',
 '11414',
 ' 11415',
 ' 11416',
 ' 11417',
 ' 11418',
 ' 11419',
 ' 11420',
 ' 11421',
 '11368',
 ' 11369',
 ' 11370',
 ' 11372',
 ' 11373',
 ' 11377',
 ' 11378']

In [29]:
len(queens)

61

In [44]:
queens_ser = pd.Series(queens)

In [45]:
queens_ser.nunique()

61

In [20]:
bk_table = zips[zips['Borough'] == 'Brooklyn']
bk_table

     Borough                Neighborhood                          ZIP Codes
7   Brooklyn            Central Brooklyn  11212, 11213, 11216, 11233, 11238
8   Brooklyn          Southwest Brooklyn                11209, 11214, 11228
9   Brooklyn                Borough Park         11204, 11218, 11219, 11230
10  Brooklyn      Canarsie and Flatlands                11234, 11236, 11239
11  Brooklyn           Southern Brooklyn         11223, 11224, 11229, 11235
12  Brooklyn          Northwest Brooklyn  11201, 11205, 11215, 11217, 11231
13  Brooklyn                    Flatbush         11203, 11210, 11225, 11226
14  Brooklyn  East New York and New Lots                       11207, 11208
15  Brooklyn                  Greenpoint                       11211, 11222
16  Brooklyn                 Sunset Park                       11220, 11232
17  Brooklyn   Bushwick and Williamsburg                11206, 11221, 11237

In [38]:
bk_zips = [m.split(',') for m in bk_table['ZIP Codes']]
bk_zips

[['11212', ' 11213', ' 11216', ' 11233', ' 11238'],
 ['11209', ' 11214', ' 11228'],
 ['11204', ' 11218', ' 11219', ' 11230'],
 ['11234', ' 11236', ' 11239'],
 ['11223', ' 11224', ' 11229', ' 11235'],
 ['11201', ' 11205', ' 11215', ' 11217', ' 11231'],
 ['11203', ' 11210', ' 11225', ' 11226'],
 ['11207', ' 11208'],
 ['11211', ' 11222'],
 ['11220', ' 11232'],
 ['11206', ' 11221', ' 11237']]

In [39]:
bkln= []
for n in bk_zips:
    for o in n:
        bkln.append(o)
bkln

['11212',
 ' 11213',
 ' 11216',
 ' 11233',
 ' 11238',
 '11209',
 ' 11214',
 ' 11228',
 '11204',
 ' 11218',
 ' 11219',
 ' 11230',
 '11234',
 ' 11236',
 ' 11239',
 '11223',
 ' 11224',
 ' 11229',
 ' 11235',
 '11201',
 ' 11205',
 ' 11215',
 ' 11217',
 ' 11231',
 '11203',
 ' 11210',
 ' 11225',
 ' 11226',
 '11207',
 ' 11208',
 '11211',
 ' 11222',
 '11220',
 ' 11232',
 '11206',
 ' 11221',
 ' 11237']

In [40]:
len(bkln)

37

In [46]:
bkln_ser = pd.Series(bkln)

In [47]:
bkln_ser.nunique()

37

In [53]:
zipcodes = pd.concat([bkln_ser, queens_ser], axis = 1)

In [54]:
zipcodes

         0       1
0    11212   11361
1    11213   11362
2    11216   11363
3    11233   11364
4    11238   11354
..     ...     ...
56     NaN   11370
57     NaN   11372
58     NaN   11373
59     NaN   11377
60     NaN   11378

[61 rows x 2 columns]

In [58]:
zipcodes.rename(columns = {0:'Brooklyn', 1:'Queens'}, inplace=True)

In [59]:
zipcodes

   Brooklyn  Queens
0     11212   11361
1     11213   11362
2     11216   11363
3     11233   11364
4     11238   11354
..      ...     ...
56      NaN   11370
57      NaN   11372
58      NaN   11373
59      NaN   11377
60      NaN   11378

[61 rows x 2 columns]

In [60]:
bkln_ser.to_csv('bk_zips.csv', index=False)

In [61]:
queens_ser.to_csv('qns_zips.csv', index=False)

In [62]:
check_bk = pd.read_csv('./bk_zips.csv')
check_bk

        0
0   11212
1   11213
2   11216
3   11233
4   11238
5   11209
6   11214
7   11228
8   11204
9   11218
10  11219
11  11230
12  11234
13  11236
14  11239
15  11223
16  11224
17  11229
18  11235
19  11201
20  11205
21  11215
22  11217
23  11231
24  11203
25  11210
26  11225
27  11226
28  11207
29  11208
30  11211
31  11222
32  11220
33  11232
34  11206
35  11221
36  11237

In [64]:
check_qns = pd.read_csv('./qns_zips.csv')
check_qns

        0
0   11361
1   11362
2   11363
3   11364
4   11354
..    ...
56  11370
57  11372
58  11373
59  11377
60  11378

[61 rows x 1 columns]